{% extends 'layout.html' %}
{% block content %}
<!-- Page content-->
<div class="container-fluid">
    <h1 class="mt-4">Word List</h1>
    <table class="table-bordered" style="text-Align:center; width:100%;">
        <th style="width : 10%">Index</th>
        <th style="width : 50%">Title of Word List</th>
        <th style="width : 40%">View</th>
        {% for i in range(word_title | length) %}
        <tr>
            <td>{{i + 1}}</td>
            <td>{{word_title[i]}}</td>
            <td><button type="button" onclick="location.href='/word_view/{{i}}';">View</button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
