{% extends 'layout.html' %}
{% block content %}
<!-- Page content-->
<div class="container-fluid">
    <h1 class="mt-4">Word View - {{title}}</h1>
    <button style="width:100%" class="btn-primary" type="button" onclick="back()">Back</button>
    <table class="table-bordered" style="text-Align:center; width:100%;">
        <th style="width : 10%">Index</th>
        <th style="width : 45%">Word</th>
        <th style="width : 45%">Value</th>
        {% for i in range(word | length) %}
        <tr>
            <td>{{i + 1}}</td>
            <td>{{word['단어'][i]}}</td>
            <td>{{word['뜻'][i]}}</td>
            <!-- <td><button type="button" onclick="location.href='/word_view/{{i}}';">View</button></td> -->
        </tr>
        {% endfor %}
    </table>
    <button style="width:100%" class="btn-primary" type="button" onclick="back()">Back</button>
    <script>
    function back() {
        history.go(-1);
    }
    </script>
</div>
{% endblock content %}