{% extends 'layout.html' %}
{% block content %}
<!-- Page content-->
<div class="container-fluid">
    <h1 class="mt-4">{{session['username']}}'s Wrong Answer Note</h1>
    <table class="table-bordered" style="text-Align:center; width:100%;">
        <th style="width : 10%">Index</th>
        <th style="width : 15%">Word1</th>
        <th style="width : 15%">Mean1</th>
        <th style="width : 15%">Word2</th>
        <th style="width : 15%">Mean2</th>
        <th style="width : 15%">Word3</th>
        <th style="width : 15%">Mean3</th>
        {% for i in range(data | length) %}
        <tr>
            <td>{{i + 1}}</td>
            {% for j in range(6) %}
                <td>{{data[i][j]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}